@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* width */
    ::-webkit-scrollbar {
        width: 5px !important;
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #red;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #red;
    }
}

@layer components {
    .markdown-style-provider {
        @apply mb-2 flex flex-col;
    }

    .markdown-style-provider h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-primary-500 font-serif text-2xl pb-2;
    }

    .markdown-style-provider a {
        @apply text-blue-500 cursor-pointer font-bold;
    }

    .markdown-style-provider strong {
        @apply font-bold leading-6;
    }
}
